## (3)ì¡°ê±´ì— ë”°ë¼ ì‹œë¦¬ì¦ˆ ê°’ì„ ë³€ê²½
### ë°ì´í„° : ì§€í‘œì˜¨ë„ì™€ ë¯¸êµ­ ì¢…ë‹¨ì¡°ì‚¬

In [5]:
import pandas as pd
import numpy as np
nls97 = pd.read_csv('data/nls97b.csv')
nls97.set_index('personid', inplace=True)
landtemps = pd.read_csv('data/landtemps2019avgs.csv')

In [7]:
# Elevation ê°’ì˜ ë¶„í¬ ë¹ ë¥´ê²Œ í™•ì¸
landtemps.elevation.quantile(np.arange(0.2, 1.1, 0.2))

0.2      48.0
0.4     190.5
0.6     393.2
0.8    1066.8
1.0    9999.0
Name: elevation, dtype: float64

### ë„˜íŒŒì´ where í•¨ìˆ˜ë¡œ ë‘ ê°’ì„ í¬í•¨í•˜ëŠ” ë²”ì£¼ ì‹œë¦¬ì¦ˆë¥¼ ìƒì„±
- where(ê²€ì‚¬ì¡°ê±´, ì°¸ì¼ ê²½ìš° ìˆ˜í–‰í•  ë¬¸ì¥, ê±°ì§“ì¼ ê²½ìš° ìˆ˜í–‰í•  ë¬¸ì¥)

In [8]:
landtemps['elevation_group'] = np.where(landtemps.elevation > landtemps.elevation.quantile(0.8), 'High', 'Low')

In [10]:
landtemps.elevation_group = landtemps.elevation_group.astype('category')

In [11]:
landtemps.groupby(['elevation_group'])['elevation'].agg(['count', 'min', 'max'])

                 count     min     max
elevation_group
High              2409  1067.0  9999.0
Low               9686  -350.0  1066.8

### ğŸ“where ë©”ì„œë“œë¡œ ì„¸ ê°’ì„ í¬í•¨í•˜ëŠ” ë²”ì£¼í˜• ì‹œë¦¬ì¦ˆ ìƒì„±
- 80ë²ˆì¨° ë°±ë¶„ìœ„ìˆ˜ë³´ë‹¤ ë†’ì€ ê°’ì„ high, ì¤‘ì•™ê°’ì„ ì´ˆê³¼í•˜ê³  80ë²ˆì§¸ ë°±ë¶„ìœ„ìˆ˜ ì´í•˜ì¸ ê°’ Median, ê·¸ ì™¸ì˜ ê°’ì„ lowë¡œ
> - ê²€ì‚¬ ì•ˆì— ê²€ì‚¬ë¥¼ ì¤‘ì²©í•˜ëŠ” ê²½ìš°ë¡œ, False ëŒ€ì‹ ì— ë˜ ë‹¤ë¥¸ whereë¬¸ì„ ë„£ëŠ”ë‹¤ <br>
> - where(ê²€ì‚¬ì¡°ê±´, ì°¸ì¼ ê²½ìš° ìˆ˜í–‰í•  ë¬¸ì¥, where(ê²€ì‚¬ì¡°ê±´, ì°¸ì¼ê²½ìš° ìˆ˜í–‰í•  ë¬¸ì¥, ê±°ì§“ì¼ ê²½ìš° ìˆ˜í–‰í•  ë¬¸ì¥))

In [27]:
landtemps.elevation.median()

271.3

In [31]:
landtemps['elevation_group'] = np.where(landtemps.elevation > landtemps.elevation.quantile(0.8),'High',
                                        np.where(landtemps.elevation > landtemps.elevation.median(), 'Medium', 'Low'))

In [32]:
landtemps.elevation_group = landtemps.elevation_group.astype('category')

In [34]:
landtemps.groupby(['elevation_group'])['elevation'].agg(['count', 'min', 'max'])

                 count     min     max
elevation_group
High              2409  1067.0  9999.0
Low               6056  -350.0   271.3
Medium            3630   271.4  1066.8

### ğŸ“ë„˜íŒŒì´ select ë©”ì„œë“œë¥¼ ì‚¬ìš©í•´ ì¡°ê±´ì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ í‰ê°€
> whereë¬¸ì„ ë³µì¡í•˜ê²Œ ë§Œë“œëŠ” ê²ƒë³´ë‹¤, ì´ ë°©ë²•ì„ ì¶”ì²œ
- ê²€ì‚¬ ì¡°ê±´ ë¦¬ìŠ¤íŠ¸ì™€ ê²°ê³¼ë¥¼ ë‹´ì„ ë¦¬ìŠ¤íŠ¸ë¥¼ ê°ê° ì¤€ë¹„
- ì—¬ëŸ¬ ê²€ì‚¬ë¥¼ ë§Œì¡±í•˜ë”ë¼ë„ ì²« ë²ˆì§¸ ì°¸ì¸ ê²ƒë§Œ ì‚¬ìš©ë¨!
    - GPAê°€ 2ë¯¸ë§Œì¸ ê°œì¸ê³¼ í•™ìœ„ê°€ ì—†ëŠ” ê°œì¸ì„ ì²«ë²ˆì§¸ ë²”ì£¼ì— ë„£ê¸°
    - í•™ìœ„ëŠ” ì—†ì§€ë§Œ GPAê°€ ë†’ì€ ê°œì¸ì„ ë‘ ë²ˆì§¸ ë²”ì£¼ì— ë„£ê¸°
    - í•™ìœ„ëŠ” ìˆì§€ë§Œ GPAê°€ ë‚®ì€ ê°œì¸ì„ ì„¸ ë²ˆì§¸ ë²”ì£¼ì— ë„£ê¸°
    - ë‚˜ë¨¸ì§€ë¥¼ ë„¤ë²ˆì§¸ ë²”ì£¼ì— ë„£ê¸°

In [13]:
test = [(nls97.gpaoverall < 2) & (nls97.highestdegree == '0. None'),
        nls97.highestdegree == '0. None', nls97.gpaoverall < 2]

result = ['1. Low GPA and No Diploma', '2. No Diploma', '3. Low GPA']

In [14]:
nls97['hsachieve'] = np.select(test, result, '4.Did Okay')

In [15]:
nls97[['hsachieve', 'gpaoverall', 'highestdegree']].head()

              hsachieve  gpaoverall   highestdegree
personid
100061       4.Did Okay        3.06  2. High School
100139       4.Did Okay         NaN  2. High School
100284    2. No Diploma         NaN         0. None
100292       4.Did Okay        3.45    4. Bachelors
100583       4.Did Okay        2.91  2. High School

In [17]:
nls97.hsachieve.value_counts().sort_index()

1. Low GPA and No Diploma      95
2. No Diploma                 858
3. Low GPA                    459
4.Did Okay                   7572
Name: hsachieve, dtype: int64

### ğŸ“lambdaë¥¼ ì‚¬ìš©í•´ ì—¬ëŸ¬ ê°œì˜ ì—´ì„ í•œ ë¬¸ì¥ìœ¼ë¡œ í…ŒìŠ¤íŠ¸
> ë¡œì§ì´ ë” ë³µì¡í•´ì§€ë©´ applyë¥¼ ì‚¬ìš©í•œë‹¤. <br>
> axis=1ì„ ì§€ì •í•˜ë©´ ë°ì´í„°í”„ë ˆì„ì˜ ê° í–‰ì„ í•¨ìˆ˜ì— ë³´ëƒ„
- colenrì—´ì—ëŠ” 2ì›”ê³¼ 10ì›”ì˜ ê°œì¸ë³„ í•™ì  ìƒíƒœê°€ ìˆë‹¤ ->> ì´ ì—´ì— 3. 4-year collegeê°’ì´ ìˆëŠ”ì§€ ê²€ì‚¬í•˜ë ¤ê³  í•œë‹¤.
    - filterë¥¼ ì‚¬ìš©í•´ colenrì—´ì˜ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±
    - applyë¥¼ ì‚¬ìš©í•´ lambda í•¨ìˆ˜ë¥¼ í˜¸ì¶œ
    - colenrì—´ì˜ ì²«ë²ˆì§¸ ë¬¸ìë¥¼ ê²€ì‚¬í•œë‹¤(3ì¸ì§€ë§Œ í™•ì¸)->> ê²°ê³¼ëŠ” anyì— ì „ë‹¬ë˜ì–´ 3ì´ ì²« ê¸€ìì¸ ì—´ì´ ì¡´ì¬í•˜ëŠ”ì§€ í‰ê°€

In [18]:
nls97.loc[[100292, 100583, 100139], 'colenrfeb00':'colenroct04'].T

personid                100292             100583           100139
colenrfeb00    1. Not enrolled    1. Not enrolled  1. Not enrolled
colenroct00  3. 4-year college    1. Not enrolled  1. Not enrolled
colenrfeb01  3. 4-year college    1. Not enrolled  1. Not enrolled
colenroct01  3. 4-year college  3. 4-year college  1. Not enrolled
colenrfeb02  3. 4-year college  3. 4-year college  1. Not enrolled
colenroct02  3. 4-year college    1. Not enrolled  1. Not enrolled
colenrfeb03  3. 4-year college    1. Not enrolled  1. Not enrolled
colenroct03  3. 4-year college    1. Not enrolled  1. Not enrolled
colenrfeb04  3. 4-year college    1. Not enrolled  1. Not enrolled
colenroct04    1. Not enrolled    1. Not enrolled  1. Not enrolled

In [19]:
nls97['baenrollment'] = nls97.filter(like='colenr').apply(lambda x: x.str[0:1]=='3').any(axis=1)

In [21]:
nls97.loc[[100292, 100583, 100139], ['baenrollment']].T

personid      100292  100583  100139
baenrollment    True    True   False

In [22]:
nls97.baenrollment.value_counts()

False    5085
True     3899
Name: baenrollment, dtype: int64

### ğŸ“ì—¬ëŸ¬ ì‹œë¦¬ì¦ˆì˜ ê°’ì„ ë°”íƒ•ìœ¼ë¡œ ê°’ì„ í• ë‹¹í•˜ëŠ” í•¨ìˆ˜ ìƒì„±
- ì•¼ê°„ì— ìˆ˜ë©´ì„ 6ì‹œê°„ ë¯¸ë§Œìœ¼ë¡œ ì·¨í•˜ëŠ” ì´ìœ ì— ë”°ë¼ ì¡°ì‚¬ ì‘ë‹µìë¥¼ ë²”ì£¼í™”í•˜ëŠ” í•¨ìˆ˜ ìƒì„±
    - ì·¨ì—… ìƒíƒœ, í•¨ê»˜ ê±°ì£¼í•˜ëŠ” ìë…€ ìˆ˜, ì„ê¸ˆì†Œë“, ìµœê³  ì„±ì ì— ëŒ€í•œ ì‘ë‹µì„ ë°”íƒ•ìœ¼ë¡œ êµ¬ë¶„

In [23]:
def getsleepdeprivedreason(row):
    sleepdeprivedreason = 'Unknown'
    if (row.nightlyhrssleep >= 6):
        sleepdeprivedreason = 'Not Sleep Deprived'
    elif (row.nightlyhrssleep > 0):
        if (row.weeksworked16 + row.weeksworked17 < 80): #ê±°ì˜ ì¼ì„ í•˜ì§€ ì•Šê³ 
            if (row.childathome > 2): # 3ëª… ì´ìƒì˜ ìë…€ì™€ í•¨ê»˜ ê±°ì£¼í•œ ê²½ìš°
                sleepdeprivedreason = 'Child Rearing' # ìë…€ ì–‘ìœ¡
            else:
                sleepdeprivedreason = 'Other Reasons' # ê¸°íƒ€
        else: # ëŒ€ë¶€ë¶„ ì¼ì„ í•œ ê²½ìš°
            if (row.wageincome >= 62000 or row.highestgradecompleted >= 16): #ê¸‰ì—¬ê°€ ë†’ê±°ë‚˜ 4ë…„ì œ ì¡¸ì—…
                sleepdeprivedreason = 'Work Pressure' # ì§ì¥ ìŠ¤íŠ¸ë ˆìŠ¤
            else:
                sleepdeprivedreason = 'Income Pressure' # ê¸ˆì „ì  ìŠ¤íŠ¸ë ˆìŠ¤
    else:
        sleepdeprivedreason = 'Unknown'
    return sleepdeprivedreason

In [24]:
nls97['sleepdeprivedreason'] = nls97.apply(getsleepdeprivedreason, axis = 1)

In [25]:
nls97.sleepdeprivedreason = nls97.sleepdeprivedreason.astype('category')

In [26]:
nls97.sleepdeprivedreason.value_counts()

Not Sleep Deprived    5595
Unknown               2286
Income Pressure        462
Work Pressure          281
Other Reasons          272
Child Rearing           88
Name: sleepdeprivedreason, dtype: int64