# (2)ÎÑòÌååÏù¥ Î∞∞Ïó¥Ïùò Í∑∏Î£πÎ≥Ñ ÏöîÏïΩÏùÑ Í≥ÑÏÇ∞
- itertuplesÎ°ú ÌñàÎçò ÏûëÏóÖÏùÑ ÎÑòÌååÏù¥ Î∞∞Ïó¥ÏùÑ ÏÇ¨Ïö©Ìï¥ ÏàòÌñâ Í∞ÄÎä•
- ÎÑòÌååÏù¥ Î∞∞Ïó¥ÏùÑ ÏÇ¨Ïö©Ìï¥ Îç∞Ïù¥ÌÑ∞ Î∂ÄÎ∂ÑÏßëÌï©Ïóê ÎåÄÌïú ÏöîÏïΩÍ∞íÏùÑ ÏñªÏùÑ ÏàòÎèÑ 
---
- Ìëú Îç∞Ïù¥ÌÑ∞Î•º Îã§Î£∞ Îïå ÎÑòÌååÏù¥ Î∞∞Ïó¥ÏùÄ Ïú†Ïö©ÌïòÏßÄÎßå, Ìñâ ÏÇ¨Ïù¥Ïùò Í≥ÑÏÇ∞ÏùÑ ÌïÑÏöîÎ°ú Ìï®
- ÎÑòÌååÏù¥ Î∞∞Ïó¥ ÌÉêÏÉâÏù¥ ÌåêÎã§Ïä§ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ ÏàúÌöåÎ≥¥Îã§ Îπ†Î¶Ñ
- ÏùºÎ∞òÏ†ÅÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Ïùò ÌäπÏ†ï ÏÑ∏Í∑∏Î®ºÌä∏Ïóê ÎåÄÌï¥ Ïû¨Îπ®Î¶¨ ÏöîÏïΩ Í∞íÏùÑ ÏñªÍ≥†Ïûê Ìï† ÎïåÎäî ÎÑòÌååÏù¥ Î∞∞Ïó¥ÏùÑ ÏÑ†ÌÉùÌïòÎäî Í≤ÉÏù¥ Ìï©Î¶¨Ï†Å

In [10]:
import pandas as pd
import numpy as np
coviddaily = pd.read_csv('data/coviddaily720.csv', parse_dates=['casedate'])
ltbrazil = pd.read_csv('data/ltbrazil.csv')

In [11]:
loclist = coviddaily.location.unique().tolist()

### ÎÑòÌååÏù¥ Î∞∞Ïó¥ÏùÑ ÏÇ¨Ïö©Ìï¥ ÏúÑÏπòÎ≥Ñ Ìï©Í≥ÑÎ•º Í≥ÑÏÇ∞
- ÏúÑÏπòÏôÄ Ïã†Í∑ú ÏÇ¨Î°Ä Îç∞Ïù¥ÌÑ∞Ïùò ÎÑòÌååÏù¥ Î∞∞Ïó¥ ÏÉùÏÑ± : ÏúÑÏπòÎ≥Ñ Ï†ÑÏ≤¥ Ïã†Í∑ú ÏÇ¨Î°Ä Í∞í ÏÑ†ÌÉù > Ìï©ÏÇ∞

In [12]:
rowlist = []
casevalues = coviddaily[['location', 'new_cases']].to_numpy()

In [13]:
casevalues

array([['Afghanistan', 0.0],
       ['Afghanistan', 0.0],
       ['Afghanistan', 0.0],
       ...,
       ['Zimbabwe', 41.0],
       ['Zimbabwe', 16.0],
       ['Zimbabwe', 40.0]], dtype=object)

In [14]:
# üìç Î∞òÎ≥µÎ¨∏ ÏÇ¨Ïö©ÌïòÏó¨ Í∞Å ÏúÑÏπòÎ≥Ñ Ïã†Í∑ú ÏÇ¨Î°Ä Ìï©ÏÇ∞, Î¶¨Ïä§Ìä∏Ïóê Ï†ÄÏû• 
for locitem in loclist:
    cases = [casevalues[j][1] for j in range(len(casevalues)) \
            if casevalues[j][0] == locitem]
    rowlist.append(sum(cases))

In [15]:
len(rowlist)

209

In [16]:
len(loclist)

209

In [17]:
rowlist[0:5]

[34451.0, 3371.0, 18712.0, 855.0, 483.0]

In [18]:
casetotals = pd.DataFrame(zip(loclist, rowlist), columns=['location', 'casetotals'])

In [19]:
casetotals.head()

      location  casetotals
0  Afghanistan     34451.0
1      Albania      3371.0
2      Algeria     18712.0
3      Andorra       855.0
4       Angola       483.0

### ÏßÄÌëúÏò®ÎèÑ Îç∞Ïù¥ÌÑ∞ Ï†ïÎ†¨, Ïò®ÎèÑÏóê ÎàÑÎùΩÍ∞íÏù¥ ÏûàÎäî Ìñâ ÎìúÎ°≠

In [21]:
ltbrazil = ltbrazil.sort_values(['station', 'month'])
ltbrazil.head()

,locationid,year,month,temperature,latitude,longitude,elevation,station,countryid,country,latabs
4,BR000352000,2019,1,NaN,-3.2,-52.2,112.0,ALTAMIRA,BR,Brazil,3.2
96,BR000352000,2019,2,NaN,-3.2,-52.2,112.0,ALTAMIRA,BR,Brazil,3.2
188,BR000352000,2019,3,NaN,-3.2,-52.2,112.0,ALTAMIRA,BR,Brazil,3.2
280,BR000352000,2019,4,NaN,-3.2,-52.2,112.0,ALTAMIRA,BR,Brazil,3.2
372,BR000352000,2019,5,NaN,-3.2,-52.2,112.0,ALTAMIRA,BR,Brazil,3.2

In [23]:
ltbrazil = ltbrazil.dropna(subset=['temperature'])

### ÎÑòÌååÏù¥ Î∞∞Ïó¥ÏùÑ ÏÇ¨Ïö©Ìï¥ Ïó∞Í∞Ñ ÌèâÍ∑† Ïò®ÎèÑ Í≥ÑÏÇ∞
- Ìïú Í∏∞Í∞ÑÍ≥º Îã§Ïùå Í∏∞Í∞Ñ ÏÇ¨Ïù¥Ïóê ÌÅ∞ Î≥ÄÌôîÍ∞Ä ÏûàÎäî ÌñâÏùÄ Ï†úÏô∏

In [25]:
prevstation = 'ZZZ'
prevtemp = 0
rowlist = []

tempvalues = ltbrazil[['station', 'temperature']].to_numpy()
tempvalues

array([['ALTAMIRA', 28.55],
       ['ALTAMIRA', 28.85],
       ['ALTAMIRA', 28.65],
       ...,
       ['VOTUPORANGA', 27.0],
       ['VOTUPORANGA', 25.15],
       ['VOTUPORANGA', 24.85]], dtype=object)

## üéØ Î≥µÏäµ ÌïÑÏöî
- Î∞òÎ≥µÎ¨∏ Ïù¥Ìï¥ & Í≤∞Í≥ºÍ∞í Îã§Î•∏Í±∞ ÌôïÏù∏(Î≥∏Î¨∏ 246ÌéòÏù¥ÏßÄ)

In [30]:
for j in range(len(tempvalues)):
    station = tempvalues[j][0]
    temperature = tempvalues[j][1]
    
    if (prevstation!=station):    #Ïù¥Ï†Ñ Ïó≠Í≥º ÌòÑÏû¨ Ïó≠Ïù¥ Îã§Î•º Í≤ΩÏö∞
        if (prevstation!='ZZZ'):  #Ïù¥Ï†Ñ Ïó≠Ïù¥ 'ZZZ'Í∞Ä ÏïÑÎãå Í≤ΩÏö∞
            rowlist.append({'station':prevstation, 'avgtemp':tempcnt/stationcnt,
                           'stationcnt':stationcnt})   # Ïù¥Ï†Ñ Ïó≠Ïùò Ï†ïÎ≥¥Î•º ÎîïÏÖîÎÑàÎ¶¨ ÌòïÌÉúÎ°ú Ï∂îÍ∞Ä
        
        #ÏÉàÎ°úÏö¥ Ïó≠ Ï†ïÎ≥¥ Ï¥àÍ∏∞Ìôî
        tempcnt = 0
        stationcnt = 0
        prevstation = station # ÌòÑÏû¨Ïó≠ÏúºÎ°ú ÏóÖÎç∞Ïù¥Ìä∏
        
        if ((0 <= abs(temperature-prevtemp) <= 3) or (stationcnt == 0)):
            tempcnt += temperature
            stationcnt += 1
        
    prevtemp = temperature

In [31]:
rowlist.append({'station':prevstation, 'avgtemp':tempcnt/stationcnt, 'stationcnt':stationcnt})

In [32]:
rowlist[0:5]

[{'station': 'ALTAMIRA', 'avgtemp': 28.55, 'stationcnt': 1},
 {'station': 'ALTA_FLORESTA_AERO', 'avgtemp': 26.95, 'stationcnt': 1},
 {'station': 'ARAXA', 'avgtemp': 24.1, 'stationcnt': 1},
 {'station': 'BACABAL', 'avgtemp': 29.7, 'stationcnt': 1},
 {'station': 'BAGE', 'avgtemp': 25.1, 'stationcnt': 1}]

In [33]:
ltbrazilavgs = pd.DataFrame(rowlist)
ltbrazilavgs.head()

              station  avgtemp  stationcnt
0            ALTAMIRA    28.55           1
1  ALTA_FLORESTA_AERO    26.95           1
2               ARAXA    24.10           1
3             BACABAL    29.70           1
4                BAGE    25.10           1