# 9. ë°ì´í„° íƒ€ì´ë”©ê³¼ ë¦¬ì…°ì´í•‘
---
### íƒ€ì´ë””í•˜ì§€ ëª»í•œ ë°ì´í„°ì˜ íŠ¹ì§•
- ë³‘í•© ê¸°ì¤€ ì—´ ê´€ê³„ì— ëŒ€í•œ ëª…í™•ì„±ì´ ë¶€ì¡±í•¨
- ì¼ëŒ€ë‹¤ ê´€ê³„ì˜ 'ì¼'ì— í•´ë‹¹í•˜ëŠ” ìª½ì— ì¤‘ë³µì´ ìˆìŒ
- ë‹¤ëŒ€ë‹¤ ê´€ê³„ë¡œ ì¸í•´ ë°ì´í„° ì¤‘ë³µë¨
- ì—´ ì´ë¦„ì— ê°’ì´ ì €ì¥ë¨
- í•˜ë‚˜ì˜ ë³€ìˆ«ê°’ì— ì—¬ëŸ¬ ê°’ì´ ì €ì¥ë¨
- ë°ì´í„°ê°€ ë¶„ì„ ë‹¨ìœ„ì— ë§ê²Œ êµ¬ì¡°í™”ë˜ì§€ ì•Šì•˜ìŒ
---
### Key Methods
- ì¤‘ë³µ í–‰ ì œê±°
- ë‹¤ëŒ€ë‹¤ ê´€ê³„ ìˆ˜ì •
- stack & meltë¥¼ ì‚¬ìš©í•´ ë„“ì€ í¬ë§·ì„ ê¸´ í¬ë§·ìœ¼ë¡œ ë¦¬ì…°ì´í•‘
- ì—´ ê·¸ë£¹ ë…¹ì´ê¸°
- unstack & pivotì„ ì‚¬ìš©í•´ ê¸´ í¬ë§·ì„ ë„“ì€ í¬ë§·ìœ¼ë¡œ ë¦¬ì…°ì´í•‘

## (1)ì¤‘ë³µ í–‰ ì œê±°í•˜ê¸°
- ë°ì´í„°ëŠ” ì½”ë¡œë‚˜19 ë°ì´í„°

In [1]:
import pandas as pd
covidcases = pd.read_csv('data/covidcases720.csv')

In [2]:
# ì¼ì¼ í™•ì§„ì, ì‚¬ë§ì, ì´ í™•ì§„ì, ì¸êµ¬í†µê³„ ì—´ ë¦¬ìŠ¤íŠ¸ ì‘ì„±
dailyvars = ['casedate', 'new_cases', 'new_deaths']
totvars = ['location', 'total_cases', 'total_deaths']
demovars = ['population', 'population_density', 'median_age', 'gdp_per_capita', 'hospital_beds_per_thousand', 'region']

In [3]:
covidcases[dailyvars + totvars + demovars].head(3).T

                                      0            1            2
casedate                     2019-12-31   2020-01-01   2020-01-02
new_cases                           0.0          0.0          0.0
new_deaths                          0.0          0.0          0.0
location                    Afghanistan  Afghanistan  Afghanistan
total_cases                         0.0          0.0          0.0
total_deaths                        0.0          0.0          0.0
population                   38928341.0   38928341.0   38928341.0
population_density               54.422       54.422       54.422
median_age                         18.6         18.6         18.6
gdp_per_capita                 1803.987     1803.987     1803.987
hospital_beds_per_thousand          0.5          0.5          0.5
region                       South Asia   South Asia   South Asia

### ì¼ì¼ ë°ì´í„°ë§Œ ìˆëŠ” ë°ì´í„°í”„ë ˆì„ ìƒ

In [4]:
coviddaily = covidcases[['location'] + dailyvars]

In [5]:
coviddaily.shape

(29529, 4)

In [6]:
coviddaily.head()

      location    casedate  new_cases  new_deaths
0  Afghanistan  2019-12-31        0.0         0.0
1  Afghanistan  2020-01-01        0.0         0.0
2  Afghanistan  2020-01-02        0.0         0.0
3  Afghanistan  2020-01-03        0.0         0.0
4  Afghanistan  2020-01-04        0.0         0.0

### êµ­ê°€ë³„ë¡œ í•œ í–‰ì„ ì„ íƒ
- ê³ ìœ í•œ ìœ„ì¹˜ì˜ ê°œìˆ˜ë¥¼ êµ¬í•˜ê¸° -> ì–¼ë§ˆë‚˜ ë§ì€ Location(êµ­ê°€)ì´ ìˆëŠ”ì§€ ì˜ˆìƒ
- locationê³¼ casedateë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬
- drop_duplicates() ì‚¬ìš©í•´, locationë³„ë¡œ í•œ í–‰ì”© ì„ íƒ, keepë§¤ê°œë³€ìˆ˜ë¡œ ë§ˆì§€ë§‰ í–‰ì„ ì‚´ë¦¼

In [7]:
covidcases.location.nunique()

209

In [11]:
coviddemo = covidcases[['casedate'] + totvars + demovars].sort_values(['location', 'casedate']).drop_duplicates(['location'], keep='last').\
rename(columns={'casedate':'lastdate'})

In [12]:
coviddemo.head()

,lastdate,location,total_cases,total_deaths,population,population_density,median_age,gdp_per_capita,hospital_beds_per_thousand,region
184,2020-07-12,Afghanistan,34451.0,1010.0,38928341.0,54.422,18.6,1803.987,0.50,South Asia
310,2020-07-12,Albania,3371.0,89.0,2877800.0,104.871,38.0,11803.431,2.89,Eastern Europe
500,2020-07-12,Algeria,18712.0,1004.0,43851043.0,17.348,29.1,13913.839,1.90,North Africa
621,2020-07-12,Andorra,855.0,52.0,77265.0,163.755,NaN,NaN,NaN,Western Europe
734,2020-07-12,Angola,483.0,25.0,32866268.0,23.890,16.8,5819.495,NaN,Central Africa

In [13]:
coviddemo.shape

(209, 10)

In [14]:
coviddemo.head(3).T

                                    184             310           500
lastdate                     2020-07-12      2020-07-12    2020-07-12
location                    Afghanistan         Albania       Algeria
total_cases                     34451.0          3371.0       18712.0
total_deaths                     1010.0            89.0        1004.0
population                   38928341.0       2877800.0    43851043.0
population_density               54.422         104.871        17.348
median_age                         18.6            38.0          29.1
gdp_per_capita                 1803.987       11803.431     13913.839
hospital_beds_per_thousand          0.5            2.89           1.9
region                       South Asia  Eastern Europe  North Africa

### ê·¸ë£¹ë³„ë¡œ ê°’ì„ í•©ì‚°
- groupby ë©”ì„œë“œë¡œ êµ­ê°€ë³„ ì´ í™•ì§„ì ìˆ˜ ë° ì‚¬ë§ì ìˆ˜ í•©ì‚°

In [15]:
covidtotals = covidcases.groupby(['location'], as_index=False).\
                        agg({'new_cases':'sum', 'new_deaths':'sum', 'median_age':'last',
                            'gdp_per_capita':'last', 'region':'last', 'casedate':'last',
                            'population':'last'}).rename(columns={'new_cases':'total_cases', 'new_deaths':'total_deaths', 'casedate':'lastdate'})

In [17]:
covidtotals.head(3).T

                          0               1             2
location        Afghanistan         Albania       Algeria
total_cases         34451.0          3371.0       18712.0
total_deaths         1010.0            89.0        1004.0
median_age             18.6            38.0          29.1
gdp_per_capita     1803.987       11803.431     13913.839
region           South Asia  Eastern Europe  North Africa
lastdate         2020-07-12      2020-07-12    2020-07-12
population       38928341.0       2877800.0    43851043.0

> ğŸ‘‰ drop_duplicatesë¥¼ ì„ íƒí• ì§€, groupbyë¥¼ ì„ íƒí• ì§€ëŠ” 'ë‹¤'ì— í•´ë‹¹í•˜ëŠ” ìª½ì„ ì¶•ì†Œí•˜ê¸°ì— ì•ì„œ, ì§‘ê³„í•  í•„ìš”ê°€ ìˆëŠ”ì§€ì— ë”°ë¼ ê²°ì •í•œë‹¤!