# 10. 사용자 정의 함수와 클래스로 데이터 정제 자동화
- 데이터를 처음 살펴보는 함수
- 요약통계와 빈도를 표시하는 함수
- 이상치와 예상치 못한 값을 식별하는 함수
- 데이터 집계와 결합을 위한 함수
- 시리즈 값을 업데이트하는 로직을 담은 클래스
- 표 형태가 아닌 데이터 구조를 다루는 클래스

> 함수를 별도 모듈에 넣어서, 모듈이 저장된 폴더에 접근하여 어느 파일에서든 함수를 호출한다!

## (1) 데이터를 처음 살펴보는 함수
- 함수를 basicdescriptives.py 에 작성
- 해당 파일을 helperfunctions 라는 하위 폴더에 둘 것

In [1]:
# 데이터는 NLS
import pandas as pd

# 데이터프레임에 대한 요약 정보를 딕셔너리로 반환
def getfirstlook(df, nrows=5, uniqueids=None):
    out = {}
    out['head'] = df.head(nrows)
    out['dtypes'] = df.dtypes
    out['nrows'] = df.shape[0]
    out['ncols'] = df.shape[1]
    out['index'] = df.index
    
    if (uniqueids is not None):
        out['uniqueids'] = df[uniqueids].nunique()
    return out

# 딕셔너리를 보기 좋게 출력하는 함수
def displaydict(dicttodisplay):
    print(*(': '.join(map(str, x)) for x in dicttodisplay.items()), sep='\n\n')

- getfirstlook 함수를 호출하는 firstlook.py 파일을 작성

In [2]:
import pandas as pd
import os
import sys
nls97 = pd.read_csv('data/nls97f.csv')
nls97.set_index('personid', inplace=True)

- basicdescriptive 모듈 임포트

In [3]:
sys.path.append(os.getcwd()+'/helperfunctions')
import basicdescriptives as bd
import importlib #(모듈 수정시)
importlib.reload(bd)

In [4]:
# 함수 적용
dfinfo = bd.getfirstlook(nls97)
bd.displaydict(dfinfo)

head:           gender  birthmonth  birthyear  highestgradecompleted  maritalstatus  \
personid
100061    Female           5       1980                   13.0        Married
100139      Male           9       1983                   12.0        Married
100284      Male          11       1984                    7.0  Never-married
100292      Male           4       1982                    NaN            NaN
100583      Male           1       1980                   13.0        Married

          childathome  childnotathome  wageincome        weeklyhrscomputer  \
personid
100061            4.0             0.0     12500.0  10 hours or more a week
100139            2.0             0.0    120000.0      1 to 3 hours a week
100284            1.0             0.0     58000.0                     None
100292            NaN             NaN         NaN                      NaN
100583            4.0             0.0     30000.0  Less than 1 hour a week

                    weeklyhrstv  ...      colenroct13      colenrfeb14  \
personid                         ...
100061    11 to 20 hours a week  ...  1. Not enrolled  1. Not enrolled
100139     3 to 10 hours a week  ...  1. Not enrolled  1. Not enrolled
100284    11 to 20 hours a week  ...  1. Not enrolled  1. Not enrolled
100292                      NaN  ...  1. Not enrolled  1. Not enrolled
100583     3 to 10 hours a week  ...  1. Not enrolled  1. Not enrolled

              colenroct14      colenrfeb15      colenroct15      colenrfeb16  \
personid
100061    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100139    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100284    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled
100292    1. Not enrolled  1. Not enrolled  1. Not enrolled              NaN
100583    1. Not enrolled  1. Not enrolled  1. Not enrolled  1. Not enrolled

              colenroct16      colenrfeb17      colenroct17 originalid
personid
100061    1. Not enrolled  1. Not enrolled  1. Not enrolled       8245
100139    1. Not enrolled  1. Not enrolled  1. Not enrolled       3962
100284    1. Not enrolled  1. Not enrolled  1. Not enrolled       3571
100292                NaN              NaN              NaN       2979
100583    1. Not enrolled  1. Not enrolled  1. Not enrolled       8511

[5 rows x 89 columns]

dtypes: gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
maritalstatus             object
                          ...
colenrfeb16               object
colenroct16               object
colenrfeb17               object
colenroct17               object
originalid                 int64
Length: 89, dtype: object

nrows: 8984

ncols: 89

index: Int64Index([100061, 100139, 100284, 100292, 100583, 100833, 100931, 101089,
            101122, 101132,
            ...
            998997, 999031, 999053, 999087, 999103, 999291, 999406, 999543,
            999698, 999963],
           dtype='int64', name='personid', length=8984)

In [8]:
# bd.getfirstlook(nls97, 2, 'personid')

In [9]:
dfinfo['nrows']

8984

In [10]:
dfinfo['dtypes']

gender                    object
birthmonth                 int64
birthyear                  int64
highestgradecompleted    float64
maritalstatus             object
                          ...
colenrfeb16               object
colenroct16               object
colenrfeb17               object
colenroct17               object
originalid                 int64
Length: 89, dtype: object

In [11]:
# dfinfo['nrows'] == dfinfo['uniqueids']