# ë¬¸ìì—´ ì‹œë¦¬ì¦ˆ ë°ì´í„° í‰ê°€ì™€ ì •ì œ
- ë¬¸ìì—´ í‰ê°€ì™€ ëŒ€ì¹˜ì— í™œìš©í•˜ëŠ” ë©”ì„œë“œ
- contains, endswith, findall : íŒ¨í„´, ë¬¸ìì—´ ëì˜ ê³µë°±, ë³µì¡í•œ íŒ¨í„´ ì°¾ê¸°ì— ì“°ì„
- ëŒ€ì†Œë¬¸ìëŠ” upper(), lower()ë¡œ êµ¬ë¶„í•˜ì—¬ íŒë‹¨

In [1]:
import pandas as pd
import numpy as np

nls97 = pd.read_csv('data/nls97c.csv')
nls97.set_index('personid', inplace = True)

### ë¬¸ìì—´ì— íŒ¨í„´ ì¡´ì¬ ì—¬ë¶€ í™•ì¸
- govprovidejobs(ì •ë¶€ì—ì„œ ì¼ìë¦¬ë¥¼ ì œê³µí•´ì•¼ í•˜ëŠ”ê°€)ì— ëŒ€í•œ ì‘ë‹µì— 'not'ì´ í¬í•¨ë˜ëŠ”ì§€ë¥¼ ì¡°ì‚¬
- containsë¥¼ í™œìš©

In [2]:
nls97.govprovidejobs.value_counts()

2. Probably          617
3. Probably not      462
1. Definitely        454
4. Definitely not    300
Name: govprovidejobs, dtype: int64

In [4]:
nls97['govprovidejobsdefprob'] = np.where(nls97.govprovidejobs.isnull(), np.nan,
                                          np.where(nls97.govprovidejobs.str.contains('not'), 'No', 'Yes'))

In [5]:
pd.crosstab(nls97.govprovidejobs, nls97.govprovidejobsdefprob)

govprovidejobsdefprob   No  Yes
govprovidejobs
1. Definitely            0  454
2. Probably              0  617
3. Probably not        462    0
4. Definitely not      300    0

### ë¬¸ìì—´ì˜ ì‹œì‘ì´ë‚˜ ëì— ìˆëŠ” ê³µë°± ì²˜ë¦¬
- ê²°í˜¼í•œ ì ì´ ìˆëŠ” ì‚¬ëŒ(ì´í˜¼, ì‚¬ë³„, ë³„ê±° í¬í•¨)ì˜ ì‹œë¦¬ì¦ˆ ìƒì„±
- married ì• ë’¤ì˜ ê³µë°±ì— ìœ ì˜
- startswith, endswith ì‚¬ìš©
- strip : ì‹œì‘ê³¼ ëì˜ ê³µë°±ì„ ì œê±°(lstrip, rstrip)
---
- ğŸ“ë‹¤ë¥¸ ì‹œë¦¬ì¦ˆì˜ ê°’ì„ ë°”íƒ•ìœ¼ë¡œ ì‹œë¦¬ì¦ˆë¥¼ ìƒì„±í•  ì‹œ, ëˆ„ë½ê°’ì— ì£¼ì˜í•´ì•¼í•œë‹¤.
    - ëˆ„ë½ê°’ì´ where í˜¸ì¶œì˜ else ì¡°ê±´ì„ ë§Œì¡±ì‹œí‚¬ ìˆ˜ ìˆê¸° ë•Œë¬¸!

In [6]:
nls97.maritalstatus.value_counts()

Married          3064
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Married             2
Name: maritalstatus, dtype: int64

In [8]:
# ê³µë°±ìœ¼ë¡œ ì‹œì‘í•˜ëŠ” ê°’ì´ ìˆëŠ”ì§€ ê²€ì‚¬
nls97.maritalstatus.str.startswith(' ').any()

False

In [9]:
# ê³µë°±ìœ¼ë¡œ ëë‚˜ëŠ” ê°’ì´ ìˆëŠ”ì§€ ê²€ì‚¬
nls97.maritalstatus.str.endswith(' ').any()

True

In [13]:
nls97['evermarried'] = np.where(nls97.maritalstatus.isnull(), np.nan,
                               np.where(nls97.maritalstatus.str.strip()=='Never-married', 'No', 'Yes'))

In [14]:
pd.crosstab(nls97.maritalstatus, nls97.evermarried)

evermarried      No   Yes
maritalstatus
Divorced          0   663
Married           0  3064
Married           0     2
Never-married  2766     0
Separated         0   154
Widowed           0    23

### isinì„ ì‚¬ìš©í•´ ë¬¸ìì—´ ê°’ì´ ë¦¬ìŠ¤íŠ¸ì— ìˆëŠ”ì§€ ê²€ì‚¬

In [15]:
nls97['receivedba'] = np.where(nls97.highestdegree.isnull(), np.nan,
                              np.where(nls97.highestdegree.str[0:1].isin(['4', '5', '6', '7']), 'Yes', 'No'))

In [16]:
pd.crosstab(nls97.highestdegree, nls97.receivedba)

receivedba         No   Yes
highestdegree
0. None           953     0
1. GED           1146     0
2. High School   3667     0
3. Associates     737     0
4. Bachelors        0  1673
5. Masters          0   603
6. PhD              0    54
7. Professional     0   120

### findallì„ ì‚¬ìš©í•˜ì—¬ ë¬¸ìì—´ì—ì„œ ìˆ«ì£ê°’ ì¶”ì¶œ
- weeklyhrstv(ì¼ì£¼ì¼ ë™ì•ˆ tvì‹œì²­ì— ë³´ë‚¸ ì‹œê°„) ë¬¸ìì—´ì— í¬í•¨ëœ ëª¨ë“  ìˆ«ìì˜ ë¦¬ìŠ¤íŠ¸ë¥¼ ìƒì„±
- ë¬¸ìì—´ ì†ì— ìˆ«ìë§Œ ì–»ì–´ë‚´ê¸° ìœ„í•´ ì •ê·œí‘œí˜„ì‹ '\d+'ì„ ì „ë‹¬

In [18]:
pd.concat([nls97.weeklyhrstv.head(),
          nls97.weeklyhrstv.str.findall('\d+').head()], axis=1)

                    weeklyhrstv weeklyhrstv
personid
100061    11 to 20 hours a week    [11, 20]
100139     3 to 10 hours a week     [3, 10]
100284    11 to 20 hours a week    [11, 20]
100292                      NaN         NaN
100583     3 to 10 hours a week     [3, 10]

In [19]:
nls97.weeklyhrstv.str.findall('\d+')

personid
100061    [11, 20]
100139     [3, 10]
100284    [11, 20]
100292         NaN
100583     [3, 10]
            ...
999291         [2]
999406     [3, 10]
999543     [3, 10]
999698        [40]
999963     [3, 10]
Name: weeklyhrstv, Length: 8984, dtype: object

### findallë¡œ ë§Œë“  ë¦¬ìŠ¤íŠ¸ë¥¼ ì‚¬ìš©í•´ weeklyhrstv í…ìŠ¤íŠ¸ë¡œë¶€í„° ìˆ«ì ì‹œë¦¬ì¦ˆ ìƒì„±
- findallë¡œ ë§Œë“  ë¦¬ìŠ¤íŠ¸ì—ì„œ ë§ˆì§€ë§‰ ì›ì†Œë¥¼ ê²€ìƒ‰í•˜ëŠ” í•¨ìˆ˜ ì •ì˜
- getnum í•¨ìˆ˜ : ë‘˜ ì´ìƒì˜ ìˆ˜ê°€ ìˆëŠ” ê²½ìš°, ë‘ ìˆ˜ì˜ ì¤‘ê°„ì— ê°€ê¹ë„ë¡ ìˆ«ì ì¡°ì •

In [20]:
def getnum(numlist):
    highval = 0
    
    if (type(numlist) is list):
        lastval = int(numlist[-1]) #ë¦¬ìŠ¤íŠ¸ ë§ˆì§€ë§‰ ê°’ ì¶”ì¶œ
        if (numlist[0]=='40'):
            highval = 45
        elif (lastval == 2):
            highval = 1
        else:
            highval = lastval - 5
    else:
        highval = np.nan
    return highval

In [21]:
nls97['weeklyhrstvnum'] = nls97.weeklyhrstv.str.findall('\d+').apply(getnum)

In [22]:
pd.crosstab(nls97.weeklyhrstv, nls97.weeklyhrstvnum)

weeklyhrstvnum              1.0   5.0   15.0  25.0  35.0  45.0
weeklyhrstv
11 to 20 hours a week          0     0  1145     0     0     0
21 to 30 hours a week          0     0     0   299     0     0
3 to 10 hours a week           0  3625     0     0     0     0
31 to 40 hours a week          0     0     0     0   116     0
Less than 2 hours per week  1350     0     0     0     0     0
More than 40 hours a week      0     0     0     0     0   176

### ì‹œë¦¬ì¦ˆì— ìˆëŠ” ê°’ì„ ë‹¤ë¥¸ ê°’ìœ¼ë¡œ ë°”ê¾¸ê¸°
- weeklyhrscomputer(ì¼ì£¼ì¼ê°„ ì»´í“¨í„° ì‚¬ìš©ì‹œê°„) ì‹œë¦¬ì¦ˆëŠ” í˜„ì¬ ê°’ìœ¼ë¡œ ì •ë ¬ì´ ì˜ ì•ˆë¨(ë¬¸ìì—´ ê°’ì„ í™•ì¸)
- ê°’ë“¤ì„ ìˆœì„œë¥¼ ë‚˜íƒ€ë‚´ëŠ” ë¬¸ìë¡œ ë³€ê²½í•˜ì—¬ í•´ê²°
    - ê¸°ì¡´ì˜ ê°’ ë¦¬ìŠ¤íŠ¸ì™€ ìƒˆë¡œ ì§€ì •í•˜ê³ ì í•˜ëŠ” ê°’ ë¦¬ìŠ¤íŠ¸ë¥¼ ìƒì„±
    - replace ë©”ì„œë“œë¡œ ê¸°ì¡´ ê°’ì„ ìƒˆ ê°’ìœ¼ë¡œ êµì²´

In [23]:
comphrsold = ['None', 'Less than 1 hour a week', '1 to 3 hours a week',
             '4 to 6 hours a week', '7 to 9 hours a week', '10 hours or more a week']

comphrsnew = ['A. None', 'B. Less than 1 hour a week', 'C. 1 to 3 hours a week',
             'D. 4 to 6 hours a week', 'E. 7 to 9 hours a week', 'F. 10 hours or more a week']

In [25]:
nls97.weeklyhrscomputer.value_counts().sort_index()

1 to 3 hours a week         733
10 hours or more a week    3669
4 to 6 hours a week         726
7 to 9 hours a week         368
Less than 1 hour a week     296
None                        918
Name: weeklyhrscomputer, dtype: int64

In [26]:
nls97.weeklyhrscomputer.replace(comphrsold, comphrsnew, inplace=True)

In [28]:
nls97.weeklyhrscomputer.value_counts().sort_index()

A. None                        918
B. Less than 1 hour a week     296
C. 1 to 3 hours a week         733
D. 4 to 6 hours a week         726
E. 7 to 9 hours a week         368
F. 10 hours or more a week    3669
Name: weeklyhrscomputer, dtype: int64