# k-최근접 이웃으로 누락값 대치
- KNN은 직관적이고 실행하기 쉬우며, 변수와 관측값이 많지 않을 때 좋은 결과를 내어 인기있는 머신러닝 기법이다.
- 같은 이유로 누락값 대치에도 많이 쓰임!
- 각 관측과 특성이 가장 비슷한 k개의 관측값을 식별하여 대치
---
- 참고로, knn으로 이상값 식별도 가능하다(4장 참고)

### 사이킷런 KNNImputer 모듈 사용
- 데이터는 NLS 학교 레코드 열 누락값 채우기

In [1]:
import pandas as pd
from sklearn.impute import KNNImputer
nls97 = pd.read_csv('data/nls97c.csv')
nls97.set_index('personid', inplace=True)

In [2]:
# 학교 레코드 데이터 선택
schoolrecordlist = ['satverbal', 'satmath', 'gpaoverall', 'gpaenglish', 'gpamath',
                   'gpascience', 'highestgradecompleted']

schoolrecord = nls97[schoolrecordlist]

### KNNImputer 모듈 초기화, 누락값 대치

In [3]:
impKNN = KNNImputer(n_neighbors=5)

In [4]:
newvalues = impKNN.fit_transform(schoolrecord)

In [6]:
schoolrecordimp = pd.DataFrame(newvalues, columns=schoolrecordlist, index=schoolrecord.index)

In [10]:
schoolrecord.head().T

personid               100061  100139  100284  100292  100583
satverbal                 NaN     NaN     NaN     NaN     NaN
satmath                   NaN     NaN     NaN     NaN     NaN
gpaoverall               3.06     NaN     NaN    3.45    2.91
gpaenglish             350.00     NaN     NaN  345.00  283.00
gpamath                280.00     NaN     NaN  370.00  285.00
gpascience             315.00     NaN     NaN  300.00  240.00
highestgradecompleted   13.00    12.0     7.0     NaN   13.00

In [9]:
schoolrecordimp.head().T

personid               100061   100139   100284  100292  100583
satverbal              446.00  412.000  290.800  534.00  414.00
satmath                460.00  470.000  285.200  560.00  454.00
gpaoverall               3.06    2.346    2.548    3.45    2.91
gpaenglish             350.00  232.400  136.000  345.00  283.00
gpamath                280.00  218.000  244.600  370.00  285.00
gpascience             315.00  247.800  258.000  300.00  240.00
highestgradecompleted   13.00   12.000    7.000    9.80   13.00

### 요약통계 비교

In [12]:
schoolrecord[['gpaoverall', 'highestgradecompleted']].agg(['mean', 'count'])

        gpaoverall  highestgradecompleted
mean      2.818408              14.059883
count  6004.000000            6663.000000

In [13]:
schoolrecordimp[['gpaoverall', 'highestgradecompleted']].agg(['mean', 'count'])

        gpaoverall  highestgradecompleted
mean      2.775159              13.505609
count  8984.000000            8984.000000