# (3)Groupby를 사용해 데이터를 그룹별로 조직화하기

In [1]:
import pandas as pd
import numpy as np
coviddaily = pd.read_csv('data/coviddaily720.csv', parse_dates=['casedate'])

### 판다스 groupby 데이터프레임 생성

In [2]:
countrytots = coviddaily.groupby(['location'])

In [3]:
type(countrytots)

pandas.core.groupby.generic.DataFrameGroupBy

### 국가별로 첫 행과 마지막 행의 데이터프레임 생성

In [4]:
countrytots.first().iloc[0:5, 0:5]

            iso_code   casedate continent  new_cases  new_deaths
location
Afghanistan      AFG 2019-12-31      Asia        0.0         0.0
Albania          ALB 2020-03-09    Europe        2.0         0.0
Algeria          DZA 2019-12-31    Africa        0.0         0.0
Andorra          AND 2020-03-03    Europe        1.0         0.0
Angola           AGO 2020-03-22    Africa        2.0         0.0

In [5]:
countrytots.last().iloc[0:5, 0:5]

            iso_code   casedate continent  new_cases  new_deaths
location
Afghanistan      AFG 2020-07-12      Asia       85.0        16.0
Albania          ALB 2020-07-12    Europe       93.0         4.0
Algeria          DZA 2020-07-12    Africa      904.0        16.0
Andorra          AND 2020-07-12    Europe        0.0         0.0
Angola           AGO 2020-07-12    Africa       25.0         2.0

In [6]:
type(countrytots.last())

pandas.core.frame.DataFrame

### 국가별 전체 행 얻기

In [8]:
countrytots.get_group('Zimbabwe').iloc[0:5, 0:5]

      iso_code   casedate  location continent  new_cases
29099      ZWE 2020-03-21  Zimbabwe    Africa        1.0
29100      ZWE 2020-03-22  Zimbabwe    Africa        1.0
29101      ZWE 2020-03-23  Zimbabwe    Africa        0.0
29102      ZWE 2020-03-24  Zimbabwe    Africa        0.0
29103      ZWE 2020-03-25  Zimbabwe    Africa        0.0

### 그룹에 대해 루핑

In [9]:
for name, group in countrytots:
    if (name in ['Malta', 'Kuwait']):
        print(group.iloc[0:5, 0:5])

      iso_code   casedate location continent  new_cases
14707      KWT 2019-12-31   Kuwait      Asia        0.0
14708      KWT 2020-01-01   Kuwait      Asia        0.0
14709      KWT 2020-01-02   Kuwait      Asia        0.0
14710      KWT 2020-01-03   Kuwait      Asia        0.0
14711      KWT 2020-01-04   Kuwait      Asia        0.0
      iso_code   casedate location continent  new_cases
17057      MLT 2020-03-07    Malta    Europe        1.0
17058      MLT 2020-03-08    Malta    Europe        2.0
17059      MLT 2020-03-09    Malta    Europe        0.0
17060      MLT 2020-03-10    Malta    Europe        2.0
17061      MLT 2020-03-11    Malta    Europe        1.0

### 국가별 행 수

In [10]:
countrytots.size()

location
Afghanistan       185
Albania           126
Algeria           190
Andorra           121
Angola            113
                 ...
Vietnam           191
Western Sahara     78
Yemen              94
Zambia            116
Zimbabwe          114
Length: 209, dtype: int64

### 국가별 요약통계

In [12]:
countrytots.new_cases.describe().head()

             count        mean         std  min  25%   50%     75%     max
location
Afghanistan  185.0  186.221622  257.305202  0.0  0.0  37.0  302.00  1063.0
Albania      126.0   26.753968   24.651389  0.0  9.0  17.0   35.50    93.0
Algeria      190.0   98.484211  123.980103  0.0  0.0  88.0  149.75   904.0
Andorra      121.0    7.066116   12.716614  0.0  0.0   1.0    9.00    79.0
Angola       113.0    4.274336    8.509709  0.0  0.0   1.0    5.00    62.0

In [13]:
countrytots.new_cases.sum().head()

location
Afghanistan    34451.0
Albania         3371.0
Algeria        18712.0
Andorra          855.0
Angola           483.0
Name: new_cases, dtype: float64