# 병합 루틴 개발
---
### 데이터 : GHCN 데이터베이스의 countries, location
- 두 데이터의 병합 기준 값 불일치 확인 후, 왼쪽 조인

In [15]:
import pandas as pd
countries = pd.read_csv('data/ltcountries.csv')
locations = pd.read_csv('data/ltlocations.csv')

In [18]:
# 병합 기준 열의 일치 여부 확인
def checkmerge(dfleft, dfright, mergebyleft, mergebyright):
    dfleft['inleft'] = "Y"
    dfright['inright'] = "Y"
    dfboth = pd.merge(dfleft[[mergebyleft, 'inleft']], dfright[[mergebyright, 'inright']],
                     left_on=[mergebyleft], right_on=[mergebyright], how='outer')
    dfboth.fillna('N', inplace=True)
    print(pd.crosstab(dfboth.inleft, dfboth.inright))
    print(dfboth.loc[(dfboth.inleft=='N') | (dfboth.inright=='N')].head(20))

In [19]:
checkmerge(countries.copy(), locations.copy(), 'countryid', 'countryid')

inright  N      Y
inleft
N        0      1
Y        2  27472
      countryid inleft inright
9715         LQ      Y       N
13103        ST      Y       N
27474        FO      N       Y

In [20]:
#국가와 위치 데이터 병합
stations = pd.merge(countries, locations, left_on=['countryid'], right_on=['countryid'], how='left')

In [21]:
stations[['locationid', 'latitude', 'stnelev', 'country']].head(10)

    locationid  latitude  stnelev               country
0  ACW00011604   57.7667     18.0   Antigua and Barbuda
1  AE000041196   25.3330     34.0  United Arab Emirates
2  AEM00041184   25.6170     31.0  United Arab Emirates
3  AEM00041194   25.2550     10.4  United Arab Emirates
4  AEM00041216   24.4300      3.0  United Arab Emirates
5  AEM00041217   24.4330     26.8  United Arab Emirates
6  AEM00041218   24.2620    264.9  United Arab Emirates
7  AF000040930   35.3170   3366.0           Afghanistan
8  AFM00040911   36.7000    378.0           Afghanistan
9  AFM00040938   34.2100    977.2           Afghanistan

In [22]:
stations.shape

(27474, 7)

> 병합을 실행하기 전에 checkmerge 함수를 호출해, 여러 유형의 조인을 실행했을 때 어떤 결과를 예상할 수 있는지에 대해 충분한 정보를 얻을 수 있다!